.puzzleTd {
	height: 75px;
	width: 75px;
	background-color: #ced;
	border-radius: 5px;
	font-size: 40px;
	display: inline-block;
	margin: 5px;
	padding: auto;
	line-height: 75px;
	text-align: center;
	vertical-align: middle;
	box-shadow: 5px 5px 2px #888888;
}

.puzzleTd:hover{
	background-color: #acb;
}

.puzzleTd:active{
	position: relative;
	top: 2px;
	left: 2px;
}

.puzzleTable {
	margin-top: 10px;
}
